{% extends "./base.html" %}
{% load i18n static %}

{% block content %}

<div class="container bg-light">
    <h2> Liste des projets </h2> 
    <div class="row pt-lg-5">
        {% for project in projects %}
            <div class="col-lg-6 col-md-6 mb-4">
                <div class="card h-100">
                    {% with url_name="'carshop:product_car_detail'" %}
                    <a href="{% url url_name  project.id %}">
                        {% if project.default_image %}
                            <img class="card-img-top rounded-lg img-fluid mx-auto d-block" src="{{ project.default_image.url }}" alt="{{ project.default_image.url }}" style="height: 200px; width: 600px;">
                        {% endif %}
                    </a>
                    {% endwith %} 
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{% url 'shop:product_shop_detail' project.pk %}">
                                {{ project.title | slice:"0:30" }}
                            </a>
                        </h4>
                        <h5><p class="text-left">Prix à partir de : {{ project.price }} Euro</p></h5>
                        <p class="card-text">Description : {{ project.description | slice:"0:250" }}</p>
                        {% for spec in project.options %}  
                            <p class="card-text">{{ spec.name }} : {{ spec.value }}</p>
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <div class="col-xs-12 col-md-6">
                            <a href="{% url 'project:project_detail' project.id %}" class="btn btn-warning btn-lg">Voir les détails et ajouter au panier</a> 
                        </div>
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
    